
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.popup-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #55dd75;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeOut 3.5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007BFF;
  padding: 10px 20px;
  color: white;
}




.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.card {
  background: #f8f9fa;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-container {
  text-align: center;
  margin: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.member {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.footer-content {
    /* Styles for your footer content */
}

.footer-copyright {
    text-align: center;
    padding: 10px 0;
    background: #F8F9FA; /* Adjust background color as needed */
    font-size: 14px; /* Adjust font size as needed */
}

p{
  font-family: 'EB Garamond';
  font-size: 25px;
}