body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 450px;
}


h2 {
  font-size: 18px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center; /* Center the heading */
  color: #000000;
}

p {
  font-size: 14px;
  color: #555;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5em;
}

label {
  text-align: left;
  font-size: 14px;
  margin: 5px 0;
  font-weight: bold;
  display: block;
  color: #007bb5;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #b3e5fc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #007bb5;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005f8b;
}

.error-message {
  color: red;
  font-size: 0.875em;
}

.register-link {
  color: #007bb5;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center; /* Center the registration link */
//   margin-top: 1em;
}

.register-link:hover {
  text-decoration: underline;
}

#mess {
  text-align: center;
  color: #007bb5;
}


/* Wrapper to align image and form side by side */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
  width: 100%;
}

/* Image container */
.image-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 80%;
  height: auto;
}

/* Login form container */
.login-container {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .image-container img {
    max-width: 60%;
  }

  .login-container {
    max-width: 90%;
    margin-top: 20px;
  }



}

